version: "3.8"
services:
  code-racer:
    env_file:
      - .env.production
    image: ${APP_NAME}:${VERSION}
    build:
      context: .
      target: final
      args:
        - DOCKER_BUILDKIT=1
    ports:
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # mount docker daemon
      - ./tmp/:/opt/code-racer # for nosocket binary
