version: "3.8"
services:
  code-racer:
    build:
      context: .
      target: final
      args:
        - DOCKER_BUILDKIT=1
    command:
      [
        "/bin/code-racer",
        "-f",
        "manifest.yml",
        "-m",
        "${MNTFS}",
        "-r",
        "${RUNNERS_PATH}"
      ]
    ports:
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
